// style to show comments in post and archive page
.post-meta-comments
    display: flex;
    align-items: center;
    .meta-icon
        border-style: none;
        margin-right: 10px;
        max-height: 100%;
        height: 16.5pt;

.archive-item
    justify-content: space-between;
    display: flex;

.archive-item span:nth-child(2) 
    margin-right: 10px;
    margin-left: auto;
    color: #a9a9b3;
    